<% if (locals.reptile || locals.mammal || locals.birds) { %>
    <div class="animal__info--container">
        <div class="animal__info">
            <h2><%= headTitle %></h2>
            <div class="animal__info--img__container">
                <img src="\assets\images\<%= infoImage %>" alt="picture of <%= headTitle %>" width="100%" height="auto">
            </div>
            <h4>Lifespan: <%= infoLifespan %></h4>
            <h4>Group: <%= infoGroup %></h4>
            <h4>Food: <%= infoFood %></h4>
            <h4>Description: <%= infoDesc %></h4>
            <h4>Length: <%= infoLength %></h4>
            <h4>Weight: <%= infoWeight %></h4>
            <h4>Habitat: <%= infoHabitat %></h4>
        </div>
    </div>
<% } else { %>
    <div class="welcome__msg--container">
        <h2><%= welcomeMsgTitle %></h2>
        <p><%= welcomeMsg %></p>
    </div>
<% } %>

<%if (locals.pageType === "animalHome" && locals.selectedAnimal) {%>
    <div class="parent-container">
        <div class="container">
            <div class="information-container">
                <p>
                    <%=selectedAnimal.description.substring(0, 200)%>
                </p>
            </div>

            <div class="name-container">
                <img src="/assets/images/<%=selectedAnimal.imageFilename%>" alt="">
                <h2><%=selectedAnimal.name%></h2>
            </div>
            <div class="border-line-horizontal"></div>

        </div>

        <div class="container">
            <div class="food-container">
                <h2>Favorite food:</h2>
                <p><%=selectedAnimal.food%></p>
            </div>

            <div class="group-container">
                <h2><%selectedAnimal.group%> Group</h2>
                <a href="/<%=selectedAnimal.group.toLowerCase()%>">
                    <button>Learn more</button>
                </a>
            </div>
        </div>
    </div>
<% } %>